/*
font-family: 'Libre Baskerville', serif;
font-family: 'Nixie One', cursive;
*/

.main-body-placement {
    padding: 1% 0%;
}

.main-body-main-row{
	min-height: 100%;
}

.main-body {
	height: 100%;
    background-color: #211b1b;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.main-body-left-column{
	min-height: 100%;
}

.main-body-right-column{
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.main-body-left-column-sections{
	position: sticky;
	top: 8%;
	z-index: 1020;
	margin: 20% 0% 20% 3%;
	padding: 0px;
}

.main-body-left-column-section{
	display: flex;
	flex-direction: column;
}

.main-body-left-column-section-header{
	font-family: 'Nixie One', cursive;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 30px;
	padding-bottom: 3%;
	transition: border-bottom 0.5s ease-in-out;
}

.main-body-left-column-section-header:hover{
	border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.tag-line{
	display: flex;
	flex-direction: column;

}

.tag-link{
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 14px;
	list-style-type: none;
	color: #BEBEBE;
	transition: all 0.25s ease-in-out;
}

.tag-link:hover{
	text-indent: 1px;
	color: #E0E0E0;
	text-shadow: 0 0 5px rgba(255,255,255,0.50);
}

.main-content-box{
	padding: 2% 2% 4% 0;
}
.bottom-part{
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.top-part{
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.main-content-header{
	font-family: 'Nixie One', cursive;
	font-size: 25px;
	padding: 1% 0;
	margin: 0;
}
