/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(../img/bg.jpg);
}

.user_card {
    min-height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #342828;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: none;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    animation: circle-animation 0.75s ease-in-out infinite;
}

@keyframes circle-animation {
    0% {
        -webkit-box-shadow: 0px -1px 10px 0px rgba(251, 178, 100, 1);
        -moz-box-shadow: 0px -1px 10px 0px rgba(251, 178, 100, 1);
        box-shadow: 0px -1px 10px 0px rgba(251, 178, 100, 1);
    }

    25% {
        -webkit-box-shadow: 1px 0px 10px 0px rgba(251, 178, 100, 1);
        -moz-box-shadow: 1px 0px 10px 0px rgba(251, 178, 100, 1);
        box-shadow: 1px 0px 10px 0px rgba(251, 178, 100, 1);
    }

    50% {
        -webkit-box-shadow: 0px 1px 10px 0px rgba(251, 178, 100, 1);
        -moz-box-shadow: 0px 1px 10px 0px rgba(251, 178, 100, 1);
        box-shadow: 0px 1px 10px 0px rgba(251, 178, 100, 1);
    }

    75% {
        -webkit-box-shadow: -1px 0px 10px 0px rgba(251, 178, 100, 1);
        -moz-box-shadow: -1px 0px 10px 0px rgba(251, 178, 100, 1);
        box-shadow: -1px 0px 10px 0px rgba(251, 178, 100, 1);
    }

    100% {
        -webkit-box-shadow: 0px -1px 10px 0px rgba(251, 178, 100, 1);
        -moz-box-shadow: 0px -1px 10px 0px rgba(251, 178, 100, 1);
        box-shadow: 0px -1px 10px 0px rgba(251, 178, 100, 1);
    }
}

.form_container {
    height: 100%;
    padding-top: 20%;
}

.input_user{
	font-family: 'Libre Baskerville', serif;
}

.input_user::placeholder{
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.input_user:focus{
	box-shadow: none;
	border:none;
	transition:none;
	
}

.input_user:focus::placeholder{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.input_pass{
	font-family: 'Libre Baskerville', serif;

}

.input_pass:focus{
	box-shadow: none;
	border:none;
	transition:none;
}

.input_pass:focus::placeholder{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.input_pass::placeholder{
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}


.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #b0814f !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.login_btn {
    width: 100%;
    background: #b0814f !important;
    color: white !important;
    transition: box-shadow 0.75s ease-in-out;
}

.login_btn:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(217, 217, 217, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(217, 217, 217, 1);
    box-shadow: 0px 0px 5px 0px rgba(217, 217, 217, 1);
}