<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nixie+One&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/main-body.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/table-style.css}">
    <link rel="stylesheet" th:href="@{/css/pagination-style.css}">


</head>

<script>
    let flag = false;
        $.get("api/posts", function (data_source) {
            $("#pagination-wrapper").pagination({
                dataSource: data_source,
                pageSize: 20,
                autoHidePrevious: true,
                prevText: "&#8249",
                nextText: "&#8250",
                callback: function (data, pagination) {
                    if (flag) $("#song-content-main-list").fadeOut();
                    else flag = true;
                    let container = document.getElementById("song-content-main-list");
                    $("#song-content-main-list").html(`<li class="table-header"><div class="col-init">Author</div><div class="col-sec">Song's name</div><div class="col-last text-right">Views</div></li>`)
                    let author, name, row, views;
                    $.each(data, function (index, post) {
                        row = document.createElement("li");
                        row.setAttribute("class", "table-row");
                        author = document.createElement("div");
                        author.setAttribute("class", "col-init");
                        author.innerHTML = post["song"]["author"]["name"];
                        name = document.createElement("div");
                        name.setAttribute("class", "col-sec");
                        name.innerHTML = post["song"]["name"];
                        views = document.createElement("div");
                        views.setAttribute("class", "col-last text-right");
                        views.innerHTML = post["views"];
                        row.appendChild(author);
                        row.appendChild(name);
                        row.appendChild(views);
                        container.appendChild(row);
                    });
                    $("#song-content-main-list").fadeIn();

                }
            })
        });
</script>


<body class="page">

<header th:insert="~{header :: header}"></header>

<div class="main-body-placement">
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-sm-4 main-body-left-column">
                    <div class="main-body-left-column-sections">
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 main-body-right-column">
                    <div class="main-content-box">
                        <div class="w-100 bottom-part text-center main-content-header">Song list</div>
                        <ul class="responsive-table" id="song-content-main-list">
                            <li class="table-header">
                                <div class="col-init">Author</div>
                                <div class="col-sec">Song's name</div>
                                <div class="col-last text-right">Views</div>
                            </li>
                        </ul>
                    </div>
                    <div id="pagination-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>