<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nixie+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/main-body.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body class="page">

<header th:insert="~{header :: header}"></header>

<div class="main-body-placement">
    <div class="container">
        <div class="main-body">
            <div class="row main-body-main-row">
                <div class="col-sm-4 main-body-left-column">
                    <div class="main-body-left-column-sections">
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-body-left-column-section">
                            <h1 class="main-body-left-column-section-header text-center">Settings</h1>
                            <div class="main-body-left-column-content">
                                <ul class="tag-line">
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                    <li class="tag-link">Lorem</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>